<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artwork Scraper for Plex</title>
    <!-- Link to Bootstrap CSS (CDN) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- Google Font: JetBrains Mono (Nice Monospaced Font) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <style>

        body {
            background-image: url(/static/bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }

        * {
            font-family: "Noto Sans", serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-variation-settings: "wdth" 100;
        }

        .tab-content {
            margin-top: 1rem;
        }

        .log_message {
            font-family: 'JetBrains Mono', monospace;
            font-size: 13px;
            color: #000; /* Black text */
            background-color: #eeeeee; /* Light grey background */
            padding: 5px;
            border-radius: 4px;
            display: block;
            margin-bottom: 4px;
        }

        #bulk_import_text {
            font-size: 0.9rem;
        }

        .bg-light {opacity: 0.85}

    </style>

    <!-- Optional: You can also use a custom stylesheet to override default styles -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>

</head>
<body>
<div class="container mt-4">
    <img class="mb-4" src="/static/app_logo.png" title="Artwork Scraper for Plex" style="height: 52px">
    <div class="row m-3 rounded fade fixed-top" id="status">
        <div class="col">
            <div class="p-3">
                <span id="status_spinner" class="spinner-border spinner-border-sm collapse" aria-hidden="true"></span>
                <i id="status_icon" class="bi-alarm"></i>
                <span id="status_message">Welcome to Artwork Scraper for Plex!</span>
            </div>
        </div>
    </div>

    <!-- Bootstrap Tabs -->

    <nav class="nav nav-tabs" id="myTab">
        <a class="nav-link" id="config-tab" data-bs-toggle="tab" data-bs-target="#config" type="button" role="tab"
           aria-controls="config" aria-selected="false">Config</a>
        <a class="nav-link" id="bulk-import-tab" data-bs-toggle="tab" data-bs-target="#bulk-import" type="button"
           role="tab" aria-controls="bulk-import" aria-selected="false">Bulk Import</a>
        <a class="nav-link active" id="scraper-tab" data-bs-toggle="tab" data-bs-target="#scraper" type="button"
           role="tab" aria-controls="scraper" aria-selected="true">Scraper</a>
        <a class="nav-link" id="session-log-tab" data-bs-toggle="tab" data-bs-target="#session-log" type="button"
           role="tab" aria-controls="session-log" aria-selected="false">Session Log</a>
    </nav>

    <div class="progress mt-3 collapse" id="progress_bar_container" role="progressbar" aria-label="Progress" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" id="progress_bar" style="width: 0%"></div>
    </div>

    <div class="tab-content" id="myTabContent">

        <!-- Settings Tab -->
        <div class="tab-pane fade" id="config" role="tabpanel" aria-labelledby="config-tab" tabindex="0">

            <form id="config_form" class="needs-validation" novalidate>
                <div class="row mb-3">
                    <div class="col md-6">
                        <div class="p-3 border bg-light">
                            <h5 class="mb-3">Plex server settings</h5>
                            <div class="mb-3">
                                <label for="plex_base_url" class="form-label">Plex base URL:</label>
                                <input type="url" id="plex_base_url" name="plex_base_url" class="form-control" required
                                       placeholder="https://plex.example.com"
                                       pattern="https?://([A-Za-z0-9.-]+)(:[0-9]+)?(/.*)?"
                                       title="Please enter a valid URL (e.g., https://plex.example.com)">
                                <div class="invalid-feedback">
                                    Please provide a valid Plex base URL.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="plex_token" class="form-label">Plex token:</label>
                                <input type="text" id="plex_token" name="plex_token" class="form-control" required pattern="[A-Za-z0-9]{20}"
                                       title="Plex token should be a 20-character alphanumeric string.">
                                <div class="invalid-feedback">
                                    Please provide a valid Plex token.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="tv_library" class="form-label">TV library:</label>
                                <input type="text" id="tv_library" name="tv_library" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide your TV library name. If more than one, separate using commas.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="movie_library" class="form-label">Movie library:</label>
                                <input type="text" id="movie_library" name="movie_library" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide your Movie library name. If more than one, separate using commas.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col md-6">
                        <div class="row mb-3">
                            <div class="col">
                                <div class="p-3 border bg-light">
                                    <h5 class="mb-3">Artwork to include from ThePosterDB.com</h5>
                                    <div class="row mb-2">
                                        <div class="col-md-2"><strong>TV shows</strong></div>
                                        <div class="col">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" checked value="show_cover" name="filter" id="p_filter-show_cover"/>
                                                <label for="p_filter-show_cover" class="form-check-label">Show cover</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" checked value="background" name="filter" id="p_filter-background"/>
                                                <label for="p_filter-background" class="form-check-label">Background</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col offset-md-2">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" checked value="season_cover" name="filter" id="p_filter-season_cover"/>
                                                <label for="p_filter-season_cover" class="form-check-label">Season covers</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" checked value="title_card" name="filter" id="p_filter-title_card"/>
                                                <label for="p_filter-title_card" class="form-check-label">Title cards</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-2"><strong>Movies</strong></div>
                                        <div class="col">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" checked value="movie_poster" id="p_filter-movie_poster"/>
                                                <label for="p_filter-movie_poster" class="form-check-label">Movie poster</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" checked value="collection_poster" id="p_filter-collection_poster"/>
                                                <label for="p_filter-collection_poster" class="form-check-label">Collection
                                                    poster</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <div class="p-3 border bg-light">
                                    <h5 class="mb-3">Artwork to include from MediUX.pro</h5>
                                    <div class="row mb-2">
                                        <div class="col-md-2"><strong>TV shows</strong></div>
                                        <div class="col">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="show_cover" id="m_filter-show_cover"/>
                                                <label for="m_filter-show_cover" class="form-check-label">Show cover</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="background" id="m_filter-background"/>
                                                <label for="m_filter-background" class="form-check-label">Background</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col offset-md-2">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="season_cover" id="m_filter-season_cover"/>
                                                <label for="m_filter-season_cover" class="form-check-label">Season covers</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="title_card" id="m_filter-title_card"/>
                                                <label for="m_filter-title_card" class="form-check-label">Title cards</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-2"><strong>Movies</strong></div>
                                        <div class="col">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="movie_poster" id="m_filter-movie_poster"/>
                                                <label for="m_filter-movie_poster" class="form-check-label">Movie poster</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="collection_poster" id="m_filter-collection_poster"/>
                                                <label for="m_filter-collection_poster" class="form-check-label">Collection poster</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <div class="p-3 border bg-light">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="--force" id="track_artwork_ids"/>
                                        <label for="track_artwork_ids" class="form-check-label">Track artwork ID in Plex labels (recommend to leave checked)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" id="save_config_button">Save Config</button>
            </form>
        </div>


        <!-- Bulk Import Tab -->
        <div class="tab-pane fade" id="bulk-import" role="tabpanel" aria-labelledby="bulk-import-tab" tabindex="0">
            <!--                <form id="bulk_form" class="needs-validation" novalidate> -->


            <div class="row mb-3">
                <div class="col">
                    <div class="p-3 border bg-light d-flex align-items-center"><span class="pe-2">Loaded:</span>
                        <select id="switch_bulk_file" name="switch_bulk_file" class="bulk_import_file form-select" required>
                            <option selected disabled>Loading file list...</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a bulk import file path.
                        </div>
                        <!-- Default bulk file checkbox -->
                        <div class="ms-1 me-3 d-flex align-items-center">
                            <input type="hidden" id="bulk_import_file" name="bulk_import_file" class="bulk_import_file">
                            <div class="form-check mb-0 d-flex align-items-center">
                                <!-- Default bulk file checkbox using Bootstrap icons -->
                                <input type="checkbox" id="default_bulk_file" class="d-none">
                                <a title="Default file will be loaded when Artwork Scraper starts"><i id="default_bulk_file_icon" class="bi bi-check-circle h4" role="button"></i></a>
                                <label class="form-check-label mb-0 ms-2" for="default_bulk_file">Default</label>
                            </div>
                        </div>
                        <!-- Icons at the end -->
                        <a title="Delete this file"><i id="delete_icon" class="bi bi-trash h4 ms-3" role="button"></i></a>
                        <a title="Rename this file"><i id="rename_icon" class="bi bi-pencil-square h4 ms-3" role="button"></i></a>
                        <a title="Upload a new .txt file"><i id="upload_icon" class="bi bi-upload h4 ms-3" role="button"></i></a>
                    </div>
                </div>

                <div class="col d-none"> <!-- Hides the file input -->
                    <div class="p-3 border bg-light">
                        <div class="input-group">
                            <input type="file" id="bulk_import_upload" class="form-control" accept=".txt" onchange="uploadBulkImportFile(event)">
                        </div>
                    </div>
                </div>
            </div>


            <div class="row mb-3">
                <div class="col">
                    <div class="p-3 border bg-light">
                        <textarea id="bulk_import_text" class="form-control w-100 font-monospace" rows="15"></textarea>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <button class="btn btn-secondary" id="save_bulk_button" onclick="checkBulkImportFileToSave()">Save Bulk File</button>
                    <button class="btn btn-primary" id="bulk_button" onclick="runBulkImport()">Run Bulk Import</button>
                </div>
            </div>
            <!--                </form> -->
        </div>


        <!-- Scraper Tab -->
        <div class="tab-pane fade show active" id="scraper" role="tabpanel" aria-labelledby="scraper-tab" tabindex="0">
            <form id="scraperForm" class="needs-validation" novalidate>
                <div class="row mb-3">
                    <div class="col">
                        <div class="p-3 border bg-light">
                            <label for="scrape_url" class="form-label">URL to scrape:</label>
                            <input type="text" id="scrape_url" name="plex_token" class="form-control"
                                   value="https://mediux.pro/sets/9133" required
                                   placeholder="theposterdb.com or mediux.pro URL"
                                   pattern="https://(theposterdb\.com/(set/\d+|user/[A-Za-z0-9]+)|mediux\.pro/sets/\d+)"
                                   title="Please enter a valid URL (e.g., https://theposterdb.com/set/12345 or https://mediux.pro/sets/12345)">
                            <div class="invalid-feedback">Please provide a valid URL to scrape.</div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="p-3 border bg-light">
                            <h5 class="mb-3">Options</h5>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="--force" id="option-force"/>
                                <label for="option-force" class="form-check-label">Force upload the artwork, even if it
                                    already exists</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="--add-to-bulk"
                                       id="option-add-to-bulk"/>
                                <label for="option-add-to-bulk" class="form-check-label">Automatically add this URL to
                                    the current bulk import list if scraped</label>
                            </div>
                        </div>
                    </div>
                    <div class="col theposterdb collapse">
                        <div class="p-3 border bg-light">
                            <h5 class="mb-3">The Poster DB options</h5>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="--add-sets"
                                       id="option-add-sets"/>
                                <label for="option-add-sets" class="form-check-label">Add additional sets from the same
                                    page</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="--add-posters"
                                       id="option-add-posters"/>
                                <label for="option-add-posters" class="form-check-label">Add the additional posters
                                    section from the same page</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="p-3 border bg-light">
                            <h5 class="mb-3">Artwork to include</h5>
                            <div class="row mb-2">
                                <div class="col-md-1"><strong>TV shows</strong></div>
                                <div class="col-md-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" checked value="show_cover"
                                               name="filter" id="filter-show_cover"/>
                                        <label for="filter-show_cover" class="form-check-label">Show cover</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" checked value="background"
                                               name="filter" id="filter-background"/>
                                        <label for="filter-background" class="form-check-label">Background</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" checked value="season_cover"
                                               name="filter" id="filter-season_cover"/>
                                        <label for="filter-season_cover" class="form-check-label">Season covers</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" checked value="title_card"
                                               name="filter" id="filter-title_card"/>
                                        <label for="filter-title_card" class="form-check-label">Title cards</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1"><strong>Movies</strong></div>
                                <div class="col-md-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" checked value="movie_poster"
                                               id="filter-movie_poster"/>
                                        <label for="filter-movie_poster" class="form-check-label">Movie poster</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" checked
                                               value="collection_poster" id="filter-collection_poster"/>
                                        <label for="filter-collection_poster" class="form-check-label">Collection
                                            poster</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary" id="scrape_button" onclick="startScrape()">Start
                            Scrape
                        </button>
                    </div>
                </div>
            </form>

        </div>

        <!-- Session Log Tab -->
        <div class="tab-pane fade" id="session-log" role="tabpanel" aria-labelledby="session-log-tab" tabindex="0">
            <h3>Session Log</h3>
            <div id="session_log"><!-- --></div>
            <!-- Your session log content here -->
        </div>
    </div>
</div>

<!-- Save Confirmation Modal -->
<div class="modal fade" id="saveBulkImportModal" tabindex="-1" aria-labelledby="saveBulkImportModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="saveBulkImportModalLabel">Save Bulk Import File</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="saveModalMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="saveAsCurrent">Save as <span id="currentFileName"></span></button>
                <button type="button" class="btn btn-secondary" id="useDefault">Use default (<span id="defaultFileName"></span>)</button>
            </div>
        </div>
    </div>
</div>

<!-- Load Yes No Modal -->
<div class="modal fade" id="loadBulkImportModal" tabindex="-1" aria-labelledby="yesNoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="yesNoModalLabel">Please choose</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="loadModalMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="yes_Button">Yes</button>
                <button type="button" class="btn btn-secondary" id="no_Button" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<!-- Yes No Cancel Modal -->
<div class="modal fade" id="yesNoCancelModal" tabindex="-1" aria-labelledby="yesNoCancelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="yesNoCancelModalLabel">Please choose</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="yesNoCancelModalMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="yesButton">Yes</button>
                <button type="button" class="btn btn-secondary" id="noButton">No</button>
                <button type="button" class="btn btn-secondary" id="cancelButton" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS and jQuery (required for tabs) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script src="/static/web_interface.js"></script>
</body>
</html>
