<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artwork Uploader for Plex</title>
    <!-- Link to Bootstrap CSS (CDN) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- Google Font: JetBrains Mono (Nice Monospaced Font) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="/static/web_interface.css">

    <!-- Optional: You can also use a custom stylesheet to override default styles -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>

</head>
<body>
<div class="container mt-4">
    <div class="mb-4">
        <h1><img src="/static/artwork_scraper.png" title="Artwork Scraper for Plex" style="height: 2.5rem">Artwork Uploader for Plex</h1>
    </div>
    <div class="row m-3 rounded fade fixed-top" id="status">
        <div class="col">
            <div class="p-3">
                <span id="status_spinner" class="spinner-border spinner-border-sm collapse" aria-hidden="true"></span>
                <i id="status_icon" class="bi-alarm"></i>
                <span id="status_message">Welcome to Artwork Scraper for Plex!</span>
            </div>
        </div>
    </div>

    <!-- Bootstrap Tabs -->

    <nav class="nav nav-tabs" id="myTab">
        <a class="nav-link active" id="config-tab" data-bs-toggle="tab" data-bs-target="#config" type="button" role="tab"
           aria-controls="config" aria-selected="false">Config</a>
        <a class="nav-link collapse" id="bulk-import-tab" data-bs-toggle="tab" data-bs-target="#bulk-import" type="button"
           role="tab" aria-controls="bulk-import" aria-selected="false">Bulk Import</a>
        <a class="nav-link collapse" id="scraper-tab" data-bs-toggle="tab" data-bs-target="#scraper" type="button"
           role="tab" aria-controls="scraper" aria-selected="true">Scraper</a>
        <a class="nav-link collapse" id="uploader-tab" data-bs-toggle="tab" data-bs-target="#uploader" type="button"
           role="tab" aria-controls="uploader" aria-selected="true">Uploader <span style="background:red; color: white !important; padding: 2px 5px; font-size: 80%">BETA</span></a>
        <a class="nav-link collapse" id="scraping-log-tab" data-bs-toggle="tab" data-bs-target="#scraping-log" type="button"
           role="tab" aria-controls="scraping-log" aria-selected="false"><span class="d-none d-sm-inline-block">Upload&nbsp;</span>Log</a>
    </nav>

    <div class="progress mt-3 collapse" id="progress_bar_container" role="progressbar" aria-label="Progress" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" id="progress_bar" style="width: 0%"></div>
    </div>

    <div class="tab-content" id="myTabContent">

        <!-- Settings Tab -->
        <div class="tab-pane fade show active" id="config" role="tabpanel" aria-labelledby="config-tab" tabindex="0">

            <form id="config_form" class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-lg-5 mb-3">
                        <div class="p-3 border bg-light">
                            <h5 class="mb-3">Plex server settings</h5>
                            <div class="mb-3">
                                <label for="plex_base_url" class="form-label">Plex base URL:</label>
                                <input type="url" id="plex_base_url" name="plex_base_url" class="form-control" required
                                       placeholder="https://plex.example.com"
                                       pattern="https?://([A-Za-z0-9.-]+)(:[0-9]+)?(/.*)?"
                                       title="Please enter a valid URL (e.g., https://plex.example.com)">
                                <div class="invalid-feedback">
                                    Please provide a valid Plex base URL.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="plex_token" class="form-label">Plex token:</label>
                                <input type="text" id="plex_token" name="plex_token" class="form-control" required pattern="[A-Za-z0-9]{20}"
                                       title="Plex token should be a 20-character alphanumeric string.">
                                <div class="invalid-feedback">
                                    Please provide a valid Plex token.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="tv_library" class="form-label">TV library:</label>
                                <input type="text" id="tv_library" name="tv_library" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide your TV library name. If more than one, separate using commas.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="movie_library" class="form-label">Movie library:</label>
                                <input type="text" id="movie_library" name="movie_library" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide your Movie library name. If more than one, separate using commas.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="row mb-3">
                            <div class="col">
                                <div class="p-3 border bg-light">
                                    <h5 class="mb-3">Artwork <span class="d-none d-sm-inline-block">to include&nbsp;</span>from ThePosterDB.com</h5>
                                    <div class="row mb-1">
                                        <div class="col-12 mb-2"><strong>TV shows</strong></div>
                                        <div class="col-6 col-md-4 col-xl-3">
                                            <div class="form-check mb-2">
                                                <input class="form-check-input" type="checkbox" checked value="show_cover" name="filter" id="p_filter-show_cover"/>
                                                <label for="p_filter-show_cover" class="form-check-label">Show cover</label>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-4 col-xl-3">
                                            <div class="form-check mb-2">
                                                <input class="form-check-input" type="checkbox" checked value="season_cover" name="filter" id="p_filter-season_cover"/>
                                                <label for="p_filter-season_cover" class="form-check-label">Season covers</label>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-4 col-xl-3">
                                            <div class="form-check mb-2">
                                                <input class="form-check-input" type="checkbox" checked value="background" name="filter" id="p_filter-background"/>
                                                <label for="p_filter-background" class="form-check-label">Background</label>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-4 col-xl-3">
                                            <div class="form-check mb-2">
                                                <input class="form-check-input" type="checkbox" checked value="title_card" name="filter" id="p_filter-title_card"/>
                                                <label for="p_filter-title_card" class="form-check-label">Title cards</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 mb-2"><strong>Movies</strong></div>
                                        <div class="col-6 col-md-4 col-xl-3">
                                            <div class="form-check mb-2">
                                                <input class="form-check-input" type="checkbox" checked value="movie_poster" id="p_filter-movie_poster"/>
                                                <label for="p_filter-movie_poster" class="form-check-label">Movie poster</label>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-4 col-xl-4">
                                            <div class="form-check mb-2">
                                                <input class="form-check-input" type="checkbox" checked value="collection_poster" id="p_filter-collection_poster"/>
                                                <label for="p_filter-collection_poster" class="form-check-label">Collection
                                                    poster</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <div class="p-3 border bg-light">
                                    <h5 class="mb-3">Artwork <span class="d-none d-sm-inline-block">to include&nbsp;</span>from MediUX.pro</h5>
                                    <div class="row mb-1">
                                        <div class="col-12 mb-2"><strong>TV shows</strong></div>
                                        <div class="col-6 col-md-4 col-xl-3">
                                            <div class="form-check mb-2">
                                                <input class="form-check-input" type="checkbox" value="show_cover" id="m_filter-show_cover"/>
                                                <label for="m_filter-show_cover" class="form-check-label">Show cover</label>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-4 col-xl-3">
                                            <div class="form-check mb-2">
                                                <input class="form-check-input" type="checkbox" value="season_cover" id="m_filter-season_cover"/>
                                                <label for="m_filter-season_cover" class="form-check-label">Season covers</label>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-4 col-xl-3">
                                            <div class="form-check mb-2">
                                                <input class="form-check-input" type="checkbox" value="background" id="m_filter-background"/>
                                                <label for="m_filter-background" class="form-check-label">Background</label>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-4 col-xl-3">
                                            <div class="form-check mb-2">
                                                <input class="form-check-input" type="checkbox" value="title_card" id="m_filter-title_card"/>
                                                <label for="m_filter-title_card" class="form-check-label">Title cards</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 mb-2"><strong>Movies</strong></div>
                                        <div class="col-6 col-md-4 col-xl-3">
                                            <div class="form-check mb-2">
                                                <input class="form-check-input" type="checkbox" value="movie_poster" id="m_filter-movie_poster"/>
                                                <label for="m_filter-movie_poster" class="form-check-label">Movie poster</label>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-4 col-xl-4 mb-3">
                                            <div class="form-check mb-2">
                                                <input class="form-check-input" type="checkbox" value="collection_poster" id="m_filter-collection_poster"/>
                                                <label for="m_filter-collection_poster" class="form-check-label">Collection poster</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="p-3 border bg-light">
                                    <div class="form-check mb-3">
                                        <input class="form-check-input" type="checkbox" value="--force" id="track_artwork_ids"/>
                                        <label for="track_artwork_ids" class="form-check-label">Track artwork ID in Plex labels (recommend to leave checked)</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="--force" id="auto_manage_bulk_files"/>
                                        <label for="auto_manage_bulk_files" class="form-check-label">Sort and label bulk files automatically</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" id="save_config_button">Save Config</button>
            </form>
        </div>


        <!-- Bulk Import Tab -->
        <div class="tab-pane fade" id="bulk-import" role="tabpanel" aria-labelledby="bulk-import-tab" tabindex="0">
            <!--                <form id="bulk_form" class="needs-validation" novalidate> -->


            <div class="row mb-3">
                <div class="col">
                    <div class="p-3 border bg-light d-flex align-items-center">
                        <select id="switch_bulk_file" name="switch_bulk_file" class="bulk_import_file form-select" required>
                            <option selected disabled>Loading file list...</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a bulk import file path.
                        </div>
                        <!-- Default bulk file checkbox -->
                        <div class="d-flex align-items-center">
                            <input type="hidden" id="bulk_import_file" name="bulk_import_file" class="bulk_import_file">
                            <div class="form-check mb-0 d-flex align-items-center">
                                <!-- Default bulk file checkbox using Bootstrap icons -->
                                <input type="checkbox" id="default_bulk_file" class="d-none">
                                <a title="Default file will be loaded when Artwork Uploader starts"><i id="default_bulk_file_icon" class="bi bi-check-circle h4" role="button"></i></a>
                                <label class="d-none d-sm-block form-check-label mb-0 ms-2" for="default_bulk_file">Default</label>
                            </div>
                        </div>
                        <!-- Icons at the end -->
                        <a title="Delete this file"><i id="delete_icon" class="bi bi-trash h4 ms-3" role="button"></i></a>
                        <a title="Rename this file"><i id="rename_icon" class="bi bi-pencil-square h4 ms-3" role="button"></i></a>
                        <a title="Schedule upload"><i id="schedule_icon" class="bi bi-clock h4 ms-3" role="button"></i></a>
                        <a title="Upload a new .txt file"><i id="upload_icon" class="bi bi-upload h4 ms-3" role="button"></i></a>
                    </div>
                </div>

                <div class="col d-none"> <!-- Hides the file input -->
                    <div class="p-3 border bg-light">
                        <div class="input-group">
                            <input type="file" id="bulk_import_upload" class="form-control" accept=".txt" onchange="uploadBulkImportFile(event)">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Time Selector for scheduler -->
            <div id="time_select_box" class="p-3 border bg-light">
                <div id="tooltip_arrow"></div>
                <div class="row">
                    <div class="col-auto">
                        <label class="col-form-label">Every day at</label>
                    </div>
                    <div class="col-auto">
                        <input type="time" id="schedule_time" class="form-control">
                    </div>
                    <div class="col-auto">
                        <button id="set_time" class="btn btn-primary">Set</button>
                    </div>
                    <div class="col-auto" id="cancel_container" style="display: none;">
                        <button id="cancel_time" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>




            <div class="row mb-3">
                <div class="col">
                    <div class="p-3 border bg-light">
                        <textarea id="bulk_import_text" class="form-control w-100 font-monospace" rows="15"></textarea>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <button class="btn btn-secondary" id="save_bulk_button" onclick="checkBulkImportFileToSave()">Save Bulk File</button>
                    <button class="btn btn-primary" id="bulk_button" onclick="runBulkImport()">Run Bulk Import</button>
                </div>
            </div>
            <!--                </form> -->
        </div>


        <!-- Scraper Tab -->
        <div class="tab-pane fade" id="scraper" role="tabpanel" aria-labelledby="scraper-tab" tabindex="0">
            <form id="scraperForm" class="needs-validation" novalidate>
                <div class="row">
                    <div class="col mb-3">
                        <div class="p-3 border bg-light">
                            <label for="scrape_url" class="form-label">URL to scrape:</label>
                            <input type="text" id="scrape_url" name="plex_token" class="form-control"
                                   value="https://mediux.pro/sets/9133" required
                                   placeholder="theposterdb.com (poster/set/user) or mediux.pro (sets) URL"
                                   pattern="https://(theposterdb\.com/(poster/\d+|set/\d+|user/[A-Za-z0-9]+)|mediux\.pro/sets/\d+)"
                                   title="Please enter a valid URL (e.g., https://theposterdb.com/set/12345 or https://mediux.pro/sets/12345)">
                            <div class="invalid-feedback">Please provide a valid URL to scrape.</div>
                        </div>
                    </div>
                    <div class="mb-3 col-md-4 col-lg-3">
                        <div class="p-3 border bg-light">
                                <label for="scrape_url" class="form-label">Plex year:</label>
                                <input type="text" id="year" name="year" class="form-control"
                                       value=""
                                       placeholder="e.g. 1978 or 2023"
                                       pattern="^(19|20)\d{2}$"
                                       title="Use this if the year in Plex is different to that on MediUX or TPDb">
                                <div class="invalid-feedback">Please use a valid year (eg 1978, 2023).</div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="p-3 border bg-light">
                            <h5 class="mb-3">Options</h5>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="--force" id="option-force"/>
                                <label for="option-force" class="form-check-label">Force upload the artwork, even if it
                                    already exists</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="--add-to-bulk"
                                       id="option-add-to-bulk"/>
                                <label for="option-add-to-bulk" class="form-check-label">Automatically add this URL to
                                    the current bulk import list if scraped</label>
                            </div>
                        </div>
                    </div>
                    <div class="col theposterdb collapse">
                        <div class="p-3 border bg-light">
                            <h5 class="mb-3">The Poster DB options</h5>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="--add-sets"
                                       id="option-add-sets"/>
                                <label for="option-add-sets" class="form-check-label">Add additional sets from the same
                                    page</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="--add-posters"
                                       id="option-add-posters"/>
                                <label for="option-add-posters" class="form-check-label">Add the additional posters
                                    section from the same page</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="p-3 border bg-light">
                            <h5 class="mb-3">Artwork to include</h5>
                            <div class="row mb-1">
                                <div class="col-12 mb-2"><strong>TV shows</strong></div>
                                <div class="col-6 col-md-4 col-lg-3">
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" checked value="show_cover" name="filter" id="filter-show_cover"/>
                                        <label for="filter-show_cover" class="form-check-label">Show cover</label>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4 col-lg-3">
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" checked value="season_cover" name="filter" id="filter-season_cover"/>
                                        <label for="filter-season_cover" class="form-check-label">Season covers</label>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4 col-lg-3">
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" checked value="background" name="filter" id="filter-background"/>
                                        <label for="filter-background" class="form-check-label">Background</label>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4 col-lg-3">
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" checked value="title_card" name="filter" id="filter-title_card"/>
                                        <label for="filter-title_card" class="form-check-label">Title cards</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mb-2"><strong>Movies</strong></div>
                                <div class="col-6 col-md-4 col-lg-3">
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" checked value="movie_poster"
                                               id="filter-movie_poster"/>
                                        <label for="filter-movie_poster" class="form-check-label">Movie poster</label>
                                    </div>
                                </div>
                                <div class="col-6 col-md-8 col-lg-3">
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" checked
                                               value="collection_poster" id="filter-collection_poster"/>
                                        <label for="filter-collection_poster" class="form-check-label">Collection
                                            poster</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary" id="scrape_button" onclick="startScrape()">Start
                            Scrape
                        </button>
                    </div>
                </div>
            </form>

        </div>

        <!-- Uploader Tab -->
        <div class="tab-pane fade" id="uploader" role="tabpanel" aria-labelledby="uploader-tab" tabindex="0">
            <div class="row mb-3" id="drop-area">
                <div class="col">
                    <p>Drop a ZIP file from ThePosterDB.com or MediUX.pro here - or click to select one.</p><p>It'll try to determine whether the artwork is for a TV show or a movie / collection.  This is a beta feature so please let me know any anomalies you find in Zip files!</p>
                </div>
            </div>
            <div id="row progress-container" class="mt-3 mb-3" style="display:none">
                <div class="col">
                    <p>Uploading... <span id="progress-text">0%</span></p>
                    <div style="width: 100%; background: #ddd; border-radius: 5px;">
                        <div id="progress-bar"></div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5 class="mb-3">Artwork to include</h5>
                        <div class="row mb-1">
                            <div class="col-12 mb-2"><strong>TV shows</strong></div>
                            <div class="col-6 col-md-4 col-lg-3">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" checked value="show_cover" name="filter" id="upload-show_cover"/>
                                    <label for="filter-show_cover" class="form-check-label">Show cover</label>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 col-lg-3">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" checked value="season_cover" name="filter" id="upload-season_cover"/>
                                    <label for="filter-season_cover" class="form-check-label">Season covers</label>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 col-lg-3">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" checked value="background" name="filter" id="upload-background"/>
                                    <label for="filter-background" class="form-check-label">Background</label>
                                </div>
                            </div>
                            <div class="col-6 col-md-4 col-lg-3">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" checked value="title_card" name="filter" id="upload-title_card"/>
                                    <label for="filter-title_card" class="form-check-label">Title cards</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-2"><strong>Movies</strong></div>
                            <div class="col-6 col-md-4 col-lg-3">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" checked value="movie_poster" id="upload-movie_poster"/>
                                    <label for="filter-movie_poster" class="form-check-label">Movie poster</label>
                                </div>
                            </div>
                            <div class="col-6 col-md-8 col-lg-3">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" checked value="collection_poster" id="upload-collection_poster"/>
                                    <label for="filter-collection_poster" class="form-check-label">Collection poster</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Scraping Log Tab -->
        <div class="tab-pane fade" id="scraping-log" role="tabpanel" aria-labelledby="scraping-log-tab" tabindex="0">
            <div class="mt-3" id="scraping_log"><!-- --></div>
        </div>


    </div>
</div>

<!-- Save Confirmation Modal -->
<div class="modal fade" id="saveBulkImportModal" tabindex="-1" aria-labelledby="saveBulkImportModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="saveBulkImportModalLabel">Save Bulk Import File</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="saveModalMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="saveAsCurrent">Save as <span id="currentFileName"></span></button>
                <button type="button" class="btn btn-secondary" id="useDefault">Use default (<span id="defaultFileName"></span>)</button>
            </div>
        </div>
    </div>
</div>

<!-- Load Yes No Modal -->
<div class="modal fade" id="loadBulkImportModal" tabindex="-1" aria-labelledby="yesNoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="yesNoModalLabel">Please choose</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="loadModalMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="yes_Button">Yes</button>
                <button type="button" class="btn btn-secondary" id="no_Button" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<!-- Yes No Cancel Modal -->
<div class="modal fade" id="yesNoCancelModal" tabindex="-1" aria-labelledby="yesNoCancelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="yesNoCancelModalLabel">Please choose</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="yesNoCancelModalMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="yesButton">Yes</button>
                <button type="button" class="btn btn-secondary" id="noButton">No</button>
                <button type="button" class="btn btn-secondary" id="cancelButton" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS and jQuery (required for tabs) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script src="/static/web_interface.js"></script>
</body>
</html>
