name: Test Docker Build
on:
  push:
    branches: [ "main" ] # or whatever your default branch is

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Replace 'your-username' with your actual GitHub username
          tags: ghcr.io/mscodemonkey/artwork-uploader:latest
